<br>
<%= render 'shared/university_selector' %>
<br><br>
<div class="col-xs-12">
  <div class="panel panel-success text-center">
    <div class="panel-heading">
      <h1>All Landholdings</h1>
    </div>
    <div class="panel-body">
      <%= render 'shared/landholding_list' %>
    </div>
  </div>
</div>
