<br>
<%= render 'shared/university_selector' %>
<br>
<div class="col-xs-12">
	<div class="panel panel-success text-center">
		<div class="panel-heading">
			<h1><%= @university.university_name %> Landholdings</h1>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-12">
					<%= render 'shared/landholding_list' %>
					<!--
						<% link_to 'Export to Excel', university_path(@university, :format => "xlsx"), :class => "pull-right" %>
					-->
				</div>
			</div>
		</div>
	</div>
</div>